---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'hsln.org - 安全に、無料で';
const pageDescription = 'Free, Fast, Easy to use, and Secure';
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <div class="w-screen h-screen bg-gradient-to-br from-blue-100 via-blue-300 to-blue-500 relative">
    <div class="absolute w-52 h-52 bg-blue-200 opacity-70 rounded-full top-[20%] left-[30%] blur-md"></div>
    <div class="absolute w-40 h-40 bg-blue-300 opacity-70 rounded-full top-[50%] left-[70%] blur-md"></div>
    <div class="absolute w-32 h-32 bg-blue-400 opacity-70 rounded-full top-[80%] left-[40%] blur-md"></div>
    
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-100 text-center">
      <h1 class="text-6xl font-bold leading-tight text-blue-900"><span class="bg-gradient-to-br from-blue-500 via-blue-500 to-blue-500 bg-clip-text text-transparent mr-[13px]">安全</span>に、無料で</h1>
      <p class="mt-2 mb-9 text-xl text-blue-800">hsln.orgは、</p>
      <button onclick="location.href='/app'" class="text-[14px] font-bold py-[0.75rem] px-[2.5rem] rounded-lg bg-blue-700 border-[1px] border-blue-700 transition duration-200 hover:bg-transparent hover:text-blue-700">
        サービス一覧を見る
      </button>
    </div>
  </div>
</BaseLayout>
