---
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title || 'hsln.org'}</title>
    <meta name="description" content={description || 'Free, Fast, Easy to use, and Secure'}>
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>